<div class="container">
<br>

<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#">MyBlog</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Home', articles_path, class:'btn btn-info'%><span class="sr-only">(current)</span>
        <%= link_to 'About', new_article_path(@articles), class:'btn btn-info'%>
      </li>

    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-sm-8">
<br>
<h1 class="card-title">Editing Article</h1>
	<div class="card card-block">
  		
  		<p class="card-title"><%= render 'form' %></p>
  		<a href="#" class="card-link"><%= link_to 'Show', @article %></a>
  		<a href="#" class="card-link"><%= link_to 'Back', articles_path %></a>
	</div>

  </div>
</div>

</div>